<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/register/index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"
      rel="stylesheet"
    />

    <script defer src="/register/index.js"></script>
  </head>
  <body>
    <div id="root">
      <input id="email" placeholder="이메일" />
      <input id="nickname" placeholder="닉네임" />
      <input id="password" placeholder="비밀번호" />
      <input id="confirmPassword" placeholder="비밀번호 재확인" />
      <button id="register">회원가입</button>
    </div>
  </body>
</html>
